<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Consultar usuarios</title>
    <link rel="stylesheet" href="estiloConsultarUsuarios.css">
</head>
<body>
<div class="cuadroTitulo">
    <h1>Consultar usuarios</h1>
    <ul>
        <li><a href="registrarTematica.html">Registrar temática</a></li>
        <li><a href="registrarTexto.html">Registrar texto</a></li>
        <li><a href="consultarTematica.html">Consultar temática</a></li>
        <li><a href="menu.html">Menú principal</a></li>
    </ul>
</div>

<div class="container">
    <table id="tablaUsuarios">
        <thead>
        <tr>
            <th>id</th>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Número de Teléfono</th>
            <th>Foto</th>
        </tr>
        </thead>
        <tbody id="tbodyUsuarios">
        </tbody>
    </table>
</div>

<script src="scriptConsultarUsuarios.js"></script>
</body>
</html>
