<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Registrar una tematica</title>
    <link rel="stylesheet" href="estiloConsultarTematica.css">
    <script src="scriptConsultarTematica.js"></script>
</head>
<body>
<form id="formularioRegistro">
    <div class="cuadroTitulo">
        <h1>Consultar temáticas y textos</h1>
        <ul>
            <li><a href="registrarTexto.html">Registrar texto</a></li>
            <li><a href="registrarTematica.html">Registar temática</a></li>
            <li><a href="consultarUsuarios.html">Consultar usuarios</a></li>
            <li><a href="menu.html">Menú principal</a></li>
        </ul>
    </div>

    <div class="datos">
        <label for="opciones">Seleccione la temática:</label>
        <select id="opciones">
        </select>

        <label for="opcionesTexto">Seleccione el texto correspondiente a la temática seleccionada:</label>
        <select id="opcionesTexto">
        </select>
    </div>
    <div class="botones">
        <button onclick="generarAudios()">Generar audios</button>
        <button onclick="consultarChatGPT()">Consultar ChatGPT</button>
        <button onclick="consultarSentimiento()">Consultar Sentimiento</button>
        <button onclick="generarPalabrasClave()">Generar palabras clave</button>
        <button onclick="enviarPDF()">Enviar PDF</button>
        <button onclick="generarWordCloud()">Generar WordCloud</button>
        <button onclick="mostrarRespuestaChatGPT()">Ver Chat GPT</button>
        <button onclick="mostrarRespuestaSentimiento()">Ver Sentimiento</button>
        <button onclick="mostrarRespuestaPalabrasClave()">Ver Palabras Clave</button>
    </div>
    <div><script src="scriptConsultarTematica.js"></script></div>
</form>
</body>
</html>
