body {
  background-color: #BFBFB8;
}
menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 700px;
}
.cuadroTitulo {
  width: 100%;
  height: 50px;
  background-color: #35403A; /*color del fondo del cuadro*/
  color: black; /*color del texto del cuadro*/
  text-decoration: none;
  

}
h1 {
    color: #BFBFB8;
    font-family: sans-serif;
    font-style: normal;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.cuadro {
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 100px;
  background-color: #4C594F; /*color del fondo del cuadro*/
  color: #BFBFB8; /*color del texto del cuadro*/
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: sans-serif;
  transition: background-color 0.3s ease;
  padding: 10px;
}

.cuadro:hover {
  background-color: #35403A; /*color del cursor*/
}



