<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="estiloIndex.css">
</head>
<body>
<div class="container">
    <h1>Iniciar sesión</h1>
    <form id="formularioCorreo">
        <input type="email" id="correo" name="correo" placeholder="Ingrese su correo" required>
        <button type="submit">Validar</button>
    </form>
</div>

<script src="scriptIndex.js"></script>
</body>
</html>