<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Validación de Código QR</title>
  <link rel = "stylesheet" href="estiloIniciarSesion.css">
</head>
<body>
<h1>Validación de Código QR</h1>
<img src="prueba.jpg">
<br><br>
<input type="text" id="codigoInput" placeholder="Ingrese el código">
<br><br>
<button onclick="validarCodigo()">Validar Código</button>
<script src="scriptQR.js"></script>
 </body>
</html>