<!DOCTYPE html >
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Menú principal potencializando el uso de la inteligencia</title>
        <link rel = "stylesheet" href="estiloMenu.css">      
    </head>
    <body>
        <form>
            <div class ="cuadroTitulo"> <h1>Menú principal</h1> </div>
            <div class="menu">
              <a href="registrarTematica.html" class="cuadro">Registrar temática</a>
              <a href="registrarTexto.html" class="cuadro">Registrar texto</a>
              <a href="consultarTematica.html" class="cuadro">Consultas con temáticas</a>
              <a href="consultarUsuarios.html" class="cuadro">Consultar usuarios</a>
              <a href="datosTematicas.html" class="cuadro">Consultar temáticas</a>
            </div>                
        </form>
    </body>
</html>
