<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Registrar una tematica</title>
    <link rel="stylesheet" href="estiloRegistrarTematica.css">
</head>
<body>
<form id="formularioRegistro">
    <div class="cuadroTitulo">
        <h1>Registrar nueva temática</h1>
        <ul>
            <li><a href="registrarTexto.html">Registrar texto</a></li>
            <li><a href="consultarTematica.html">Consultas con temática</a></li>
            <li><a href="datosTematicas.html">Consultar temática</a></li>
            <li><a href="consultarUsuarios.html">Consultar usuarios</a></li>
            <li><a href="menu.html">Menú principal</a></li>
        </ul>
    </div>

    <div class="datos">
        <div><p>Ingrese los datos que se le solicitan para ingresar una nueva temática al sistema.</p></div>
        <div><p>Ingrese el nombre de la temática:</p></div>
        <div class="form_input"><input type="text" name="nombreTematica" placeholder="Nombre temática" required></div>
        <div><p>Ingrese la descripción de la temática:</p></div>
        <div class="form_input"><input type="text" name="descripcionTematica" placeholder="Descripción temática" required></div>
        <div><p>Ingrese una imagen presentativa de la temática:</p></div>
        <div class="form_input"><input type="file" name="imagenTematica" accept="image/*" required></div>
        <button type="submit" id="btnRegistrar">Registrar temática</button>

    </div>
</form>

<script src="scriptCrearTematica.js"></script>
</body>
</html>
